
{% extends 'index.html' %}
{% load static %}
{% block titulo %} {{post.titulo|upper}} | Blog - Andrés Triana {% endblock titulo %}


       {% block cuerpo %}

        <!-- Noticia principal -->

        <section>
            <div class="container">
                <div class="titulo_pagina">
                    <h1 class="titulo_categoria" >Contacto</h1>
                </div>
            </div>

        </section>

        <!-- Contacto -->

        <section>
            <div class="container">
              <form method="post">
                {% csrf_token %}
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="fname">Nombre</label>
                    {{form.nombre}}
                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="lname">Apellidos</label>
                    {{form.apellidos}}
                  </div>
                </div>

                <div class="row form-group">

                  <div class="col-md-12">
                    <label class="text-black" for="email">Correo</label>
                    {{form.correo}}
                  </div>
                </div>
  
                <div class="row form-group">
  
                  <div class="col-md-12">
                    <label class="text-black" for="subject">Asunto</label>
                    {{form.asunto}}
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="message">Mensaje</label>
                    {{form.mensaje}}
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary py-2 px-4 text-white">ENVIAR </button>
                  </div>
                </div>

              </form>


            </div>
        </section>
        {% endblock cuerpo %}

